{% extends "repo_browser/base.html" %}

{% block content %}
<h2>{{ repository.name }}</h2>

<table class="last-commits">
  <caption>Recent Commits</caption>
  <thead>
    <tr>
      <th>Author</th>
      <th>Revision</th>
      <th>Date</th>
      <th>{# links #}</th>
    </tr>
  </thead>
  <tbody>
    {% for commit in commits.object_list %}
    <tr>
      <td>{{ commit.author }}</td>
      <td><a href="{{ commit.urls.view }}">{{ commit.identifier|slice:":10" }}</a></td>
      <td>{{ commit.timestamp|date:"F jS, Y" }}</td>
      <td><a href="{{ commit.urls.diff }}">diff</a> | 
        <a href="{{ commit.urls.manifest }}">manifest</a></td>
    </tr>
    <tr class="commit-message">
      <td colspan="4">{{ commit.message }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
