{% extends "repo_browser/base.html" %}

{% block content %}
<h2>{{ repository.name }}</h2>
<div class="description">{{ repository.description }}</div>

<form action="" method="post"><input type="submit" name="force_sync" value="Sync Repository" /></form>

<div class="last-commits">
  {% for commit in repository.commits.all|slice:":10" %}
  <div class="commit">
    <div class="commit-message">{{ commit.message }}</div>
    <div class="commit-author">{{ commit.author }}</div>
    <ul class="commit-links">
      <li><a href="{{ commit.urls.view }}">{{ commit.identifier }}</a></li>
      <li><a href="{{ commit.urls.manifest }}">Manifest</a></li>
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock %}
